body {
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    color: #212353;
}

//Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-toggler {
        border-radius: 0.50rem;
    }
    .navbar-nav {
        .nav-link {
            color: #94B9F9;

            &.active {
                font-weight: bold;
                color: #FFFFFF !important;
            }
        }
        .nav-link:hover {
            color: #FFFFFF;
        }
    }
}

.btn-navbar-right {
    margin-top: 20px !important;
    margin-bottom: 18px !important;
    margin-right: -18px !important;

    height: 40px;
    border-radius: 16px;
}

.btn-login {
    // background-color: #212353;
    color: #FFFFFF;
    border-color: #FFFFFF;

    &:hover {
        background-color: #005DFF;
        color: #FFFFFF;
        border-color: #FFFFFF;
    }
}

//Header
header {
    padding: 480px 0 280px;
    margin-top: -390px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1, p {
        color: #FFFFFF;
    }

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 48px;
        line-height: 70px;
    }
    p {
        font-size: 18px;
    }
    .px-4 {
        padding-right: 80px !important;
        padding-left: 80px !important;
        padding-bottom: 12px !important;
        padding-top: 12px !important;
    }
    .btn-join-free-now {
        background-color: #FE688D;
        color: #FFF;
        border-radius: 16px;

        &:hover {
            background-color: #FF84A2;
            color: #FFF;
            border-radius: 16px;
        }
    }
}


.section-stats {
    margin-top: -250px;
    padding-top: -700px;
    
    .stats-detail {
        padding-top: -120px;
        padding-left: 40px;
    }
    img {
        width: 1000px;
    }
}


.section-download {
    min-height: 2119px;
    background-image: url('../images/header-manager.png');
    margin-top: 60px;
    margin-bottom: auto;

    .section-download-heading {
        margin-top: 80px;

        h2,p {
            color: #212353;
        }
        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 48px;
            line-height: 70px;
        }
        p {
            font-size: 18px;
        }
    }
    .section-popular {
        margin-top: 140px;
        padding-top: -70px;

        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
        }

        .img-popular {
            width: 500px;
        }
        .img-popular-2 {
            width: 600px;
        }

        .learn-more {
            color: #FE688D;
            font-weight: bold;
        }
    }
}



@media only screen and (max-width: 600px) {
    header {
        padding: 480px 0 280px;
        margin-top: -380px;

        h1, p {
            color: #FFFFFF;
        }
    
        h1 {
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 38px;
            line-height: 60px;
        }
        p {
            font-size: 18px;
        }
        .px-4 {
            padding-right: 80px !important;
            padding-left: 80px !important;
            padding-bottom: 12px !important;
            padding-top: 12px !important;
        }
        .btn-join-free-now {
            background-color: #FE688D;
            color: #FFF;
            border-radius: 16px;
    
            &:hover {
                background-color: #FF84A2;
                color: #FFF;
                border-radius: 16px;
            }
        }
        .stats {
            width: 1000px;
        }
    }
    .section-stats {
        margin-top: -250px;
        padding-top: -400px;
        
        .stats-detail {
            padding-top: -120px;
            padding-left: 40px;
        }
        img {
            width: 440px;
        }
    }
    .section-download {
        min-height: 2119px;
        background-image: url('../images/header-manager.png');
        margin-top: 60px;
        margin-bottom: auto;
    
        .section-download-heading {
            margin-top: 80px;
    
            h2,p {
                color: #212353;
            }
            h2 {
                font-family: 'Inter', sans-serif;
                font-weight: bold;
                font-size: 48px;
                line-height: 70px;
            }
            p {
                font-size: 18px;
            }
        }
        .section-popular {
            margin-top: 140px;
            padding-top: -70px;
    
            h2 {
                font-family: 'Inter', sans-serif;
                font-weight: bold;
            }
            .img-popular {
                width: 400px;
            }
            .img-popular-2 {
                width: 400px;
            }
            .learn-more {
                color: #FE688D;
                font-weight: bold;
            }
        }
    }
}